@import "../../scss/vars";

header {
    @include blur-background;
    nav {
        display: flex;
        padding: 0 15px;
        color: $general-color;
        a {
            text-decoration: none;
            color: $general-color;
            font-size: 20px;
<<<<<<< Updated upstream
        }
        #cartImg {
            margin-left: 600px;
            margin-top: 18px;
            padding: 5px;
            @include button-style;
            &:hover {
                @include button-hover-style;
            }
=======
            @media (max-width: $mobile-width) {
                font-size: 14px;
                white-space: nowrap;
            }
        }
        a:nth-child(1) {
            padding-left: 35px;
            @media (max-width: $mobile-width) {
                padding-left: 0;
            }     
        }
        #cartImg {
            display: flex;
            img {
                margin: 18px 0 10px 600px;
                padding: 5px;
                @include button-style;
                &:hover {
                    @include button-hover-style;
                }
                @media (max-width: $mobile-width) {
                    margin-left: 10px;
                }
            }
            span {
                @include button-style;
                width: 20px;
                height: 20px;
                margin-top: 10px;
                padding: 2px;
                text-align: center;
                font-size: 16px;
            }
>>>>>>> Stashed changes
        }
        #avatarImg {
            margin-left: 15px;
            margin-top: 18px;
            border-radius: 25px;
            height: 25px;
            padding: 8px;
            border: 1px solid $general-color;
            background-color: rgb(255, 255, 255);
        }
        #signBtn {
            margin-left: 30px;
            margin-top: 25px;
            @include button-style;
            &:hover {
                @include button-hover-style;
            }
        }
        #user {
            margin-top: 20px;
            padding: 8px;
            margin-left: 80px;
        }
    }
}
